.top-container{
    margin: 20px 30px;
    margin-top: 7em;
    /* text-align: center;
    justify-content: center;
    align-items: center; */
}
.cards{
    display: flex;
    /* grid-template-columns: auto auto auto auto; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    flex-wrap: wrap;
    gap: 2em 1em;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.card-container{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    overflow-x: hidden;
    color: white;
    /* height: 70vh; */
}
.no{
    position: fixed;
    top: 50%;
    left: 50%;
    color: var(--primary-color);
    opacity: 40%;
    transform: translate(-50%,0);
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width:1024px)
{
    .cards{
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width:600px)
{
    .cards{
        grid-template-columns: 1fr;
    }
}
.movie-deets{
    color: white;
    font-style: italic;
}